@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;600&display=swap');

/*Resetando CSS*/
* {
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: 'Prompt';
    user-select: none;
}

/*Logo - nome*/
.logo {
    margin-left: 75vh;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}

.logo:hover {
    transition: 0.3s;
    color: #047632;
    cursor: pointer;
}

/*Menu*/
nav {
    display: flex;
    height: 9vh;
    width: 100%;
    background-color: #06aa48;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0;
    overflow: hidden;

}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-list a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    padding: 25px;
}

.nav-list a:hover {
    transition: 0.3s;
    color: #047632;
}

/*Noticias*/
.noticias {
    display: flex;
    margin: auto;
    margin-top: -210px;
    padding: 280px;
    
}

/*sub-noticias*/
.sub-noticias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

/*Slide principal*/
.slider-principal {
    height: 660px;
    width: 602px;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
}

/*Slide-superior*/
.subslider-superior {
    position: relative;
    background-color: #06aa48;
    height: 320px;
    width: 602px;
    border-radius: 4px;
    overflow: hidden;
}

/*Slide-inferior*/
.subslider-inferior {
    position: relative;
    background-color: #06aa48;
    height: 320px;
    width: 602px;
    border-radius: 4px;
    overflow: hidden;
}

.imagem-principal {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.card {
    padding: 0;
    overflow: hidden;
    position: relative;
}

.card img {
    display: block;
    transition: all ease-in-out 0.3s;
}

.card img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}

.card h4 {
    font-size: 38px;
    position: absolute;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    bottom: 80px;
    left: 30px;
}

.card p {
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/*min-card*/
.mini-card h4 {
    font-size: 24px;
    position: absolute;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    bottom: 70px;
    left: 30px;
}

.mini-card p {
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 30px;
}

.mini-card img {
    display: block;
    transition: all ease-in-out 0.3s;
}

.mini-card img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}

/*Principais noticias*/
.principais-noticias {
    margin: auto;
    margin-right: 860px;
    background-color: #1e1e1e;
    width: 380px;
    text-align: center;
    border-radius: 10px;
    margin-top: -160px;
}

.principais-noticias {
    color: #ffffff;
}

.ultimas-noticias {
    margin: auto;
    margin-right: 650px;
    margin-top: 40px;
    background-color: #1e1e1e0c;
    border-radius: 6px;
    width: 850px;
    height: 220px;
    overflow: hidden;
}

.texto-noticia {
    padding: 0;
    overflow: hidden;
    position: relative;
}

.texto-noticia h5 {
    font-size: 15px;
    position: absolute;
    color: #333333;
    margin-left: 360px;
    bottom: 190px;
    left: 30px;
}

.texto-noticia h4 {
    font-size: 22px;
    position: absolute;
    color: #06aa48;
    margin-left: 360px;
    left: 30px;
    bottom: 90px;
}

.texto-noticia p {
    font-size: 12px;
    position: absolute;
    color: #333333;
    margin-left: 360px;
    left: 30px;
    bottom: 40px;
}

.texto-noticia h6 {
    font-size: 12px;
    position: absolute;
    color: #333333;
    margin-left: 360px;
    left: 30px;
    bottom: 10px;
}

/*Rodapé*/
footer {
    margin-top: 10vh;
    height: 90px;
    width: 100%;
    background-color: #1e1e1e;
}

footer h1 {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}

footer p {
    color: #8d8d8d;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
}

/*Informações Desenvolvedor*/
.developer {
    background-color: #161515;
    text-align: center;
    color: #575656;
}

.developer span {
    background-color: #161515;
    text-align: center;
    color: #035d27;
}